@import 'public.scss';

// $headGreen : #87dba7;
$headGreen:$mainGreen;


//搜索栏高度
$searchHeight : 3.8vh;
//首页导航文字
$navText : #333;
//其他普通文字
$otherText : #999;
//外侧元素圆角
$outRadius : 1vh;
//原型图38px
$font38 :1.583vh;
//更改背景色
body{
    background-color: #f7f7f7 ;
    
    // background-color: $headGreen;
    // font-family: '微软雅黑';
}
//搜索栏动画
@keyframes swipe{
     0%{
        transform: translateY(0px);
        opacity: 0;
     }
     3%{
        transform: translateY(0px);
        opacity: 1;
     }
    14%{
        transform: translateY(0px);
    }
    18%{
        transform: translateY(-$searchHeight);
    }
    32%{
        transform: translateY(-$searchHeight);
    }
    36%{
        transform: translateY(-2*$searchHeight);
    }
    50%{
        transform: translateY(-2*$searchHeight);
    }
    54%{
        transform: translateY(-3*$searchHeight);
    }
    68%{
        transform: translateY(-3*$searchHeight);
    }
    72%{
        transform: translateY(-4*$searchHeight);
    }
    86%{
        transform: translateY(-4*$searchHeight);
    }
    90%{
        transform: translateY(-5*$searchHeight);
    }
    97%{
        transform: translateY(-5*$searchHeight);
        opacity: 1;
    }
    100%{
        transform: translateY(-5*$searchHeight);
        opacity: 0;
    }
    // 99%{
    //     transform: translateY(-6*$searchHeight);
    //     opacity: 1;
    // }
    // 100%{
    //     transform: translateY(-6*$searchHeight);
    //     opacity: 0;
    // }
}
header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 4.375vh;
    width: 100vw;
    padding-top: 5.458vh;
    background-color: $headGreen;
    // color: #000;
    color: white;
    .grade{
        position: relative;
        float: left;
        height: 3.875vh;
        width: 10.930vw;
        line-height: $searchHeight;
        font-size: 1.917vh;
        font-weight: bolder;
        a{
            position: absolute;
            right: 0;
            bottom: 1.083vh;
            float: right;
            width: 1.481vw;
            height:1.481vw;
            background-image: url(../img/index/delta2.png);
            background-size: 100%;
            background-repeat: no-repeat;

        }
    }
    .search{
        overflow: hidden;
        box-sizing: border-box;
        // position: relative;
        float: right;
        width: 80.185vw;
        height: $searchHeight;
        padding-left: 7.778vw;
        border-radius: 1.9375vh;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
        background-image: url(../../assets/img/index/search.png);
        background-repeat: no-repeat;
        // background-size: 3.889vw;
        background-size: 1.667vh;
        background-position-y:center ;
        background-position-x: 2.6vw;
        // font-size: 1.667vh;
        font-size: 1.75vh;
        color: white;
        .textSwipe{
            animation: swipe 20s linear infinite backwards
        }
        li{
            // box-sizing: border-box;
            // border: 1px solid red;
            height: $searchHeight;
            line-height: $searchHeight;
        }
    }
    .popup{
        overflow: hidden;
        position: fixed;
        top: 0;
        height: 100vh;
        // width: 100vw;
        padding-top:24.417vh;
        background-color: rgba(0,0,0,0.4);
        opacity: 0;
        transition: opacity 0.5s;
        >div{
            box-sizing: border-box;
            margin: 0 auto;
            padding-top: 3.917vh;
            padding-left: 6.11vw;
            padding-right: 6.11vw;
            padding-bottom: 2vh;
            width: 88.889vw;
            height: 56.917vh;
            border-radius: 1vh;
            background-color: white;
            color: #333;
            >div:first-child{
                font-size: 2.667vh;
                font-weight: bolder;
                text-align: center;
            }
            .type{ 
                margin-top: 3.5vh;
                font-size: 1.833vh;
                font-weight: bolder;
                >ul{
                    // overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: space-between;
                    margin-top: 2vh;
                    height: 9.5vh;
                    font-weight: normal;
                    >li{
                        // margin-top: 1.5vh;
                        width: 23.333vw;
                        border-radius: 2vh;
                        line-height: 4vh;
                        font-size: 1.917vh;
                        text-align: center;
                        background-color: #f5f5f5;
                    }
                    .active{
                        font-weight: bolder;
                        color: $mainGreen;
                        background-color: #ebfee5;
                    }
                }
            }
            >div:last-child>ul{
                height: 4vh;
            }
        }
    }
}
nav{
    // margin-top: 9.833vh ;
    padding-top: 9.833vh;
    .van-grid {
        .van-grid-item{
            margin: 0 !important;
        }
        .van-grid-item__content--center{
            padding-bottom: 0;
            padding-top: 1.583vh;
             background-color: #f7f7f7;
        }
        .van-grid-item__text{
            font-size: 1.583vh;
            color : $navText;
        }
    }
}
.swipe{
    margin-top: 1.833vh;
    margin-bottom: 1.542vh;
    .my-swipe{
        overflow: hidden;
        border-radius: 1vh;
        .van-swipe__track{
            .van-swipe-item{
                height: 24.833vh;
                // background-color: red;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.summerCamp{
    .title{
                >div{
                    float: right;
                    font-size:0.625vh ;
                    color: $otherText;
                    span{
                        height: 2.167vh;
                        width: 2.167vh;
                        display: inline-block;
                        background-color: #f1f1f1;
                        text-align: center;
                        font-weight: bold;
                        color: #000;
                        border-radius: 2px;
                    }
                }
    }
    .content{
        .text{
            >div:first-child{
                        height: 2.167vh;
                        margin-bottom: 1.833vh;
                        >div{
                            float: left;
                            // height: 100%;
                            width: 11.944vw;
                            background-color: #e1ba91;
                            border-radius: 0.5vh;
                            text-align: center;
                            line-height: 2.167vh;
                            font-size: 1.583vh;
                            color: white;
                        }
                        span{
                            //超出文字显示...
                            overflow: hidden;
                            float: right;
                            width: 41.481vw;
                            height: 100%;
                            line-height: 2.167vh;
                            font-size: 2.083vh;
                            font-weight: bolder;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
            }
            >div:nth-of-type(2){
                        height: 4.583vh;
                        font-size: 1.583vh;
                        color: $otherText;
            }
            >div:last-child{
                        >span:first-child{
                            font-size: 1.25vh;
                            font-weight: bolder;
                            line-height: 3vh;
                            color: $mainRed;
                        }
                        >span:nth-of-type(2){
                            // font-size: 1.583vh;
                            font-size: 2.0vh;
                            color: $mainRed;
                            line-height: 3vh;
                            font-weight: bolder;
                        }
                        button{
                            float: right;
                            width:17.593vw ;
                            height: 3vh;
                            background-color: $mainRed;
                            border: none;
                            border-radius:1.5vh;
                            font-size: 1.583vh;
                            font-weight: bold;
                            color: white;
                        }
                    }
                    
        }
    }
}
//精选课
.fineClass{
    .content{
        display: flex;
        justify-content: space-between;
        >div{
            overflow: hidden;
            width: 27.5vw;
            height: 14.83vh;
            background-color: #f7f7f7;
            border-radius: $outRadius;
            >div:first-child{
                width: 10vw;
                height: 2.25vh;
                border-radius: 0 0 $outRadius 0;
                background-color: #e1ba91;
                text-align: center;
                line-height: 2.25vh;
                font-size: 1.417vh;
                color: white;
            }
            >div:nth-of-type(2){
                margin-top: 1.4vh;
                margin-left: 2.037vw;
                font-size: 1.75vh;
                font-weight: bolder;
            }
            >div:nth-of-type(3){
                margin-top: 1.5vh;
                margin-left: 2.037vw;
                font-size: 1.583vh;
                // line-height: 1.583vh;
            }
            >div:last-child{
                margin-top: 2.1vh;
                margin-left: 2.037vw;
                font-size: 1.583vh;
                color: #be8243;
                img{
                    width: 1.296vw;
                    margin-left: 01.296vw;
                }
            }
        }
    }
}
//网校老师
.onlineSchool{
    margin-bottom: 4.417vh;
    .img{
        height: 15.5vh !important;
    }
    .text{
        position: relative;
        height: 15.5vh !important;
        padding-top: 0;
        font-size: $font38;
        >div:first-child{
            margin-bottom: 1.083vh;
            line-height: 2.167vh;
            font-size: 2.083vh;
            font-weight: bolder;
        }
        >div:nth-of-type(2){
            overflow: hidden;
            margin-bottom: 1.083vh;
            span{
                float: left;
                height: 100%;
                padding: 0 1.296vw;
                background-color: #f9f5ec;
                border-radius: 0.5vh;
                // text-align: center;
                line-height: 2.167vh;
                // font-size: 1.583vh;
                color:#be8243 ;
            }
            span:nth-of-type(2){
                margin-left: 1.667vw;
            }
        }
        >div:nth-of-type(3){
            // font-size: $font38;
            line-height: 1.5;
            color: $otherText;
        }
        >div:last-child{
            box-sizing: border-box;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            width: 54.444vw;
            padding: 0 1.296vw;
            background-color: #f1f8ff;
            border-radius: 0.5vh;
            color: #3186fa;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .go{
        position: relative;
        margin-top: 1.5vh ;
        padding-top: 1.083vh;
        padding-bottom: 1.083vh;
        background-color: #f7f7f7 ;
        border-radius: 1vh;
        >span:first-child{
            height: 100%;
            padding: 0 1.296vw;
            margin-left: 3.889vw;
            margin-right: 1.167vw;
            font-size: $font38;
            text-align: center;
            background-color: #e1ba91;
            border-radius: 0.5vh;
            color: white;
        }
        >span:nth-of-type(2){
            font-size: 1.917vh;
        }
        >div{
            margin-left: 2.037vw;
            margin-top :1.75vh;
            font-weight: bolder;
            font-size: 1.25vh;
            color: $mainRed;
            >span{
                font-size: 1.75vh;
            }
        }
        >button{
            position: absolute;
            top: 50%;
            right: 3.148vw;
            margin-top: -1.5vh;
            padding : 0 3.333vw;
            background-color: $mainRed;
            border: none;
            border-radius: 1.5vh;
            color: white;
            font-size: $font38;
            line-height: 3vh;
        }
    }
    .more{
        margin-top: 3vh;
        text-align: center;
        color: #be8243;
    }
}
//页脚
.foot{
    >div{
        div{
            margin:0 auto;
            text-align: center;
        }
        >div:first-child{
            margin-bottom: 2.167vh;
            font-weight: bolder;
            font-size: 2.333vh;    
        }
        >div:nth-of-type(2){
            margin-bottom: 3.917vh;
            width: 77.593vw;
            border-radius: 2.5vh;
            font-size: 2.167vh;
            line-height: 5vh;
            color:#be8243 ;
            background-color: white;
        }
        >div:last-child{
            margin-bottom: 9.917vh;
            font-size: 1.5vh;
            color : #888c95;
        }
    }
}
