.container {
  padding-left: 3.333vw;
  padding-right: 3.333vw;
}

.card {
  margin-bottom: 1.542vh;
}
.card .container > div:first-child {
  overflow: hidden;
  padding: 2.083vh 3.333vw 2.083vh 3.333vw;
  border-radius: 1vh;
  background-color: white;
}
.card .container > div:first-child .title {
  height: 2.333vh;
  margin-bottom: 2.667vh;
  font-size: 2.333vh;
  font-weight: bolder;
  line-height: 2.333vh;
  color: #000;
}
.card .container > div:first-child .content {
  overflow: hidden;
}
.card .container > div:first-child .content .img {
  float: left;
  width: 28.888vw;
  height: 11.75vh;
  margin-right: 3.333vw;
  border-radius: 0.8vh;
  background-size: 100% auto;
}
.card .container > div:first-child .content .text {
  float: right;
  padding-top: 0.167vh;
  height: 11.75vh;
  width: 54.444vw;
}
.card .hr {
  height: 1.917vh;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 1.917vh;
}

.head {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 10.917vh;
  padding-left: 3.333vw;
  padding-right: 3.333vw;
  padding-top: 6.583vh;
  background-color: white;
  line-height: 2.667vh;
  text-align: center;
  font-size: 2.417vh;
  font-weight: bolder;
  color: #333;
}
.head > img:nth-of-type(1) {
  float: left;
  width: 5.926vw;
}
.head > img:nth-of-type(2) {
  float: right;
  width: 5.926vw;
}

.outer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.outer .scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: -1vh;
  bottom: 0;
  padding-right: 1vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2.5vh);
  }
}
@keyframes up {
  0% {
    transform: translateY(2.5vh);
  }
  100% {
    transform: translateY(0);
  }
}
.classDetail > div .head {
  z-index: 2;
  font-size: 2.083vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0) !important;
}
.classDetail > div .nav {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0vh;
  height: 16.8vh;
  padding-top: 12.917vh;
  padding-bottom: 1.75vh;
  background-color: white;
}
.classDetail > div .nav > a {
  display: inline-block;
  width: 33.333vw;
  font-size: 1.75vh;
  line-height: 2vh;
  text-align: center;
  color: #212832;
}
.classDetail > div .nav > a > img {
  vertical-align: top;
  height: 2vh;
}
.classDetail > div .nav .active {
  color: #2fce6d;
}
.classDetail > div .bigImg {
  width: 100%;
  height: 29.917vh;
  background-size: cover;
}
.classDetail > div .course {
  padding-top: 2.083vh;
  margin-bottom: 1vh;
  font-size: 1.583vh;
  background-color: #fff;
}
.classDetail > div .course > div > div:nth-of-type(1) {
  color: #2fce6d;
  margin-bottom: 1.25vh;
}
.classDetail > div .course > div > div:nth-of-type(2) {
  margin-bottom: 0.833vh;
  font-size: 2.333vh;
  font-weight: bolder;
  color: #212832;
}
.classDetail > div .course > div > div:nth-of-type(3) {
  margin-bottom: 1vh;
  color: #212832;
}
.classDetail > div .course > div > div:nth-of-type(4) {
  margin-bottom: 2.333vh;
  color: #888c97;
}
.classDetail > div .course > div > div:nth-of-type(4) img {
  margin-left: 0.5vh;
  width: 2.963vw;
}
.classDetail > div .course > div > div:nth-of-type(5) {
  padding-bottom: 1.583vh;
  color: #2fce6d;
  font-size: 2.083vh;
  font-weight: bolder;
}
.classDetail > div .course > div > div:nth-of-type(6) {
  color: #888c97;
  height: 6.25vh;
  border-top: 0.125vh solid #f0f0f0;
  border-bottom: 0.125vh solid #f0f0f0;
  line-height: 6.25vh;
}
.classDetail > div .course > div > div:nth-of-type(6) span {
  margin-left: 3.519vw;
  display: inline-block;
  padding-left: 1.111vw;
  padding-right: 1.111vw;
  height: 2vh;
  border: 1px solid #2fce6d;
  border-radius: 0.808vh;
  background-color: #ebfee5;
  font-size: 1.167vh;
  line-height: 2vh;
  color: #2fce6d;
}
.classDetail > div .course > div > div:nth-of-type(7) {
  height: 5.75vh;
  line-height: 5.75vh;
  color: #888c97;
}
.classDetail > div .course > div > div:nth-of-type(7) span {
  margin-left: 3.519vw;
  line-height: 5.75vh;
  color: #212832;
}
.classDetail > div .teacher {
  margin-bottom: 1vh;
  background-color: #fff;
}
.classDetail > div .teacher > div {
  padding-top: 2.833vh;
  padding-bottom: 1.917vh;
}
.classDetail > div .teacher > div > div:nth-of-type(1) {
  margin-bottom: 2.417vh;
  font-size: 2vh;
  font-weight: bolder;
  color: #212832;
}
.classDetail > div .teacher > div > div:nth-of-type(2) {
  position: relative;
  font-size: 0;
  height: 5vh;
}
.classDetail > div .teacher > div > div:nth-of-type(2) > div:first-child {
  display: inline-block;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-size: 100%;
  background-color: red;
}
.classDetail > div .teacher > div > div:nth-of-type(2) > div:last-child {
  position: absolute;
  top: 50%;
  left: 14.259vw;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 1.583vh;
}
.classDetail > div .syllabus {
  margin-bottom: 1vh;
  padding-top: 2.083vh;
  background-color: #fff;
}
.classDetail > div .syllabus .container > div:first-child {
  font-size: 2vh;
  color: #212832;
  font-weight: bolder;
}
.classDetail > div .syllabus .container .list {
  padding-bottom: 2.5vh;
  overflow: hidden;
  padding-top: 2.583vh;
  border-bottom: 0.125vh solid #f0f0f0;
}
.classDetail > div .syllabus .container .list > div:first-child {
  float: left;
  width: 17.778vw;
  color: #888c97;
}
.classDetail > div .syllabus .container .list > div:last-child {
  float: left;
  width: 61.117vw;
  font-size: 1.5vh;
  color: #888c97;
}
.classDetail > div .syllabus .container .list > div:last-child > div {
  margin-bottom: 1.25vh;
  font-size: 2vh;
  font-weight: bolder;
  color: #212832;
}
.classDetail > div .syllabus .shrink {
  overflow: hidden;
  height: 46.417vh;
}
.classDetail > div .syllabus .all {
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1.8vh;
  color: #212832;
  text-align: center;
}
.classDetail > div .syllabus .all > img {
  margin-top: 0.4vh;
  width: 4.444vw;
}
.classDetail > div .syllabus .all > div {
  position: absolute;
  top: 3.8vh;
  height: 0.5vh;
  opacity: 0.6;
  width: 100%;
  background-color: white;
}
.classDetail > div .detail {
  position: relative;
}
.classDetail > div .detail #detail {
  position: absolute;
  top: -16.6vh;
}
.classDetail > div .detail > div {
  padding: 2.083vh 0 2.083vh 3.333vw;
  font-size: 2vh;
  color: #212832;
  background-color: white;
}
.classDetail > div .detail img {
  width: 100%;
}
.classDetail > div .tag {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding: 0.917vh 3.333vw 0.917vh 3.333vw;
  background-color: white;
}
.classDetail > div .tag div {
  box-sizing: border-box;
  float: left;
  width: 15.185vw;
  height: 100%;
  padding-left: 2.703vw;
  padding-right: 2.703vw;
  text-align: center;
  font-size: 1.333vh;
  color: #888c97;
}
.classDetail > div .tag div > img {
  width: 6.481vw;
}
.classDetail > div .tag .shopcar {
  position: relative;
}
.classDetail > div .tag .shopcar > a {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -0.5vh;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #df2727;
  color: white;
  text-align: center;
  line-height: 2vh;
}
.classDetail > div .tag > button {
  padding: 0;
  float: left;
  height: 5vh;
  width: 29.074vw;
  font-size: 1.917vh;
  color: white;
  text-align: center;
  line-height: 5vh;
  border: none;
}
.classDetail > div .tag > button:nth-of-type(1) {
  margin-left: 4.5vw;
  border-radius: 2.5vh 0 0 2.5vh;
  background-color: #eeb541;
}
.classDetail > div .tag > button:last-child {
  border-radius: 0 2.5vh 2.5vh 0;
  background-color: #df2727;
}

.classDetail::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/*# sourceMappingURL=classdetail.css.map */
